

/* ==========================================================================
   Jeremiah's custom styles
   ========================================================================== */
iframe{
    margin-left: auto;
    margin-right: auto; 
}
.navbar{
    background-attachment: #006747;
}

#profilePic{
    border-radius: 50%;
}

#adminPic{
    align-self: center;
}

.row{
    background-color: #006747;
    color: white;
}

footer{
    padding-top: 50px;
    margin-top: 50px;
}

.tictactoe-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #006747;
    color: white;
    border: 10px solid white;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3,1fr);
}

.game-square {
    border: 8px solid white;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}













