

/* ==========================================================================
   Jeremiah's custom styles
   ========================================================================== */
.navbar{
    background-color: #006747;
    color: white;
}

#profilePic{
    border-radius: 50%;
}

#adminPic{
    align-self: center;
}

.row{
    background-color: #006747;
    color: white;
}

footer{
    padding-top: 50px;
    margin-top: 50px;
}

.tictactoe-board{
    width: 800px;
    height: 800px;
    margin: o auto;
    background-color: #006747;
    color: white;
    border: 10px solid white;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
}

.game-square{
    border: 10px solid white;
    border-radius: 2px;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}













